/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fish-logo {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 172px;
  height: 115px;
}
.icon-icon-arrow-down {
  background-image: url(sprite.png);
  background-position: -433px -128px;
  width: 15px;
  height: 8px;
}
.icon-icon-features-1 {
  background-image: url(sprite.png);
  background-position: -128px -230px;
  width: 128px;
  height: 128px;
}
.icon-icon-features-2 {
  background-image: url(sprite.png);
  background-position: 0px -230px;
  width: 128px;
  height: 128px;
}
.icon-icon-features-3 {
  background-image: url(sprite.png);
  background-position: -344px 0px;
  width: 128px;
  height: 128px;
}
.icon-icon-feautres-4 {
  background-image: url(sprite.png);
  background-position: -256px -230px;
  width: 128px;
  height: 128px;
}
.icon-icon-map-marker {
  background-image: url(sprite.png);
  background-position: -344px -146px;
  width: 33px;
  height: 47px;
}
.icon-icon-social {
  background-image: url(sprite.png);
  background-position: -344px -128px;
  width: 89px;
  height: 18px;
}
.icon-tree-logo {
  background-image: url(sprite.png);
  background-position: -172px -115px;
  width: 172px;
  height: 115px;
}
.icon-u-logo {
  background-image: url(sprite.png);
  background-position: 0px -115px;
  width: 172px;
  height: 115px;
}
.icon-x-logo {
  background-image: url(sprite.png);
  background-position: -172px 0px;
  width: 172px;
  height: 115px;
}
